body
{
    background-color: white;
    text-align: left;
    font-family: "Klee One", cursive;
}

header
{
    background-color: #4987c5;
    color: white;  
    padding: 10px;
    margin-right: 90%;
    flex-direction: column;
    min-height: 100vh;
    display: grid;
    height: 100%;


}

.container
{
    margin-left: 13%;
    flex-direction: column;
    width: auto;
    position: absolute;
    top: 0%;
}

.navbar a
{
    position: relative;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-left: 70px;
    
}

.navbar a::before
{
    background-color: rgb(6, 179, 248);
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    border-radius: 30px;
}

.navbar a:hover::before 
{
    width: 100%;
}